<div class="container">
  <app-cockpit
    (srvCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-destroy" (click)="onDestroyFirst()">Destroy First Element</button>
      <app-server-element 
        *ngFor="let serverelement of serverElements"
        [srvElement]="serverelement"
        [name]="serverelement.name">
        <p #paragraph>
          <strong *ngIf="serverelement.type === 'server'" style="color: red">{{ serverelement.content }}</strong>
          <em *ngIf="serverelement.type === 'blueprint'">{{ serverelement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
